<template>
  <div>
    <div v-for="(item, index) in info" :key="item.id">
      <div class="task-list" @click="handleDetail(index)">
        <div class="task-list-item">
          <div class="title">{{item.title}}</div>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
      <div class="detail" v-show="item.show">
        <group gutter="0">
          <Cell title="责任人" :value="item.belongeruser.realname"></Cell>
        </group>
        <group gutter="0">
          <Cell title="重要等级" :value="item.key">
            <Rater :value="item.important"></Rater>
          </Cell>
        </group>
        <group gutter="0">
          <Cell title="任务状态" :value="item.status | formateStatus"></Cell>
        </group>
        <group gutter="0">
          <Cell title="任务进度" :value="item.progress"></Cell>
        </group>
        <group gutter="0">
          <Cell title="是否延期" :value="calcDelay(item.expecttime, item.finishtime)"></Cell>
        </group>
        <group gutter="0">
          <Cell title="创建人" :value="item.creatoruser.realname"></Cell>
        </group>
        <group gutter="0">
          <Cell title="创建日期" :value="item.createtime | formateDate"></Cell>
        </group>
        <group gutter="0">
          <Cell title="状态操作">
            <x-button mini type="primary" v-if="item.status===4" @click.native="confirmIndex(index, item.status===4)">开始</x-button>
            <x-button mini type="warn" @click.native="confirmIndex(index, item.status===4)" v-else>关闭</x-button>
          </Cell>
        </group>
      </div>
    </div>
    <div v-transfer-dom>
      <confirm v-model="showConfirm"
      title=""
      theme="android"
      @on-confirm="onConfirm"
      >
        <p style="text-align:center;">是否要{{this.taskStatus}}此任务？</p>
      </confirm>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import { Group, Rater, Confirm, Cell, ButtonTab, TransferDomDirective as TransferDom, XButton, XTable } from 'vux'
import moment from 'moment'

function deepClone (params) {
  return JSON.parse(JSON.stringify(params))
}
export default {
  directives: {
    TransferDom
  },
  components: {
    Rater,
    Confirm,
    Cell,
    ButtonTab,
    XButton,
    XTable,
    Group
  },
  data () {
    return {
      info: [],
      showConfirm: false,
      confirmItem: '',
      taskStatus: '开始'
    }
  },
  computed: {
    ...mapGetters(['taskList', 'userInfo'])
  },
  filters: {
    formateDate (val) {
      return moment(val * 1000).format('YYYY年MM月DD日')
    },
    formateStatus (val) {
      if (val === 0) {
        return '未确认'
      } else if (val === 1) {
        return '未开始'
      } else if (val === 2) {
        return '执行中'
      } else if (val === 3) {
        return '已完成'
      } else if (val === 4) {
        return '已关闭'
      }
    }
  },
  methods: {
    ...mapActions(['getTaskList', 'setTaskStatus']),
    handleDetail (i) {
      const show = !this.info[i]['show']
      this.info[i]['show'] = show
      this.$set(this.info, i, this.info[i])
    },
    calcDelay (expect, finish) {
      if (!finish) {
        return expect * 1000 - new Date() > 0
        ? '否' : '是'
      } else {
        return expect - finish > 0
        ? '否' : '是'
      }
    },
    confirmIndex (index, status) {
      this.showConfirm = true
      this.confirmItem = index
      this.taskStatus = !status ? '关闭' : '开始'
    },
    onConfirm () {
      const infoItem = this.info[this.confirmItem]
      this.setTaskStatus({
        task: {
          status: infoItem.status === 4 ? 2 : 4
        },
        userid: this.userInfo.id,
        taskid: infoItem.id
      })
      .then(() => {
        this.getInfo()
      })
    },
    getInfo () {
      this.getTaskList({
        limit: 5,
        page: 1,
        start: 1514511224,
        end: (+new Date()) / 1000,
        creator: '',
        belonger: this.userInfo.id,
        status: '',
        seek: '',
        orgid: ''
      }).then(() => {
        const taskList = deepClone(this.taskList)
        taskList.forEach(e => {
          e.show = false
        })
        this.info = taskList
      })
    }
  },
  created () {
    this.getInfo()
  }
}
</script>
<style scoped>
.task-list-item {
  margin-top: 1rem;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  height: 6rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
}
</style>


