<template>
  <div class="home">
    <drawer width="200px;" :show.sync="drawerVisibility" :drawer-style="{'background-color':'#35495e', width: '200px'}">
      <div slot="drawer">
        <group gutter="0" style="margin-top:20px;">
          <div slot="title" class="memu-title" @click="handleMenu(0)">登录用户</div>
          <template v-if="memuList[0]">
            <cell title="fanxiaolong"></cell>
            <cell title="退出" link="/"></cell>
          </template>
        </group>
        <group gutter="0" style="margin-top:20px;">
          <div slot="title" class="memu-title" @click="handleMenu(1)">日报管理</div>
          <template v-if="memuList[1]">
            <cell title="日报编辑" link="/login"></cell>
            <cell title="日报审核" link="/login"></cell>
            <cell title="个人日报" link="/login"></cell>
            <cell title="小组日报" link="/login"></cell>
            <cell title="日报中心" link="/login"></cell>
          </template>
        </group>
        <group gutter="0" style="margin-top:20px;">
          <div slot="title" class="memu-title" @click="handleMenu(2)">任务管理</div>
          <template v-if="memuList[2]">
            <cell title="个人任务" link="/login"></cell>
            <cell title="小组任务" link="/login"></cell>
            <cell title="任务中心" link="/login"></cell>
          </template>
        </group>
        <group gutter="0" style="margin-top:20px;">
          <div slot="title" class="memu-title" @click="handleMenu(3)">绩效管理</div>
          <template v-if="memuList[3]">
            <cell title="绩效编辑" link="/login"></cell>
            <cell title="绩效查询" link="/login"></cell>
            <cell title="考核项目配置" link="/login"></cell>
          </template>
        </group>
        <group gutter="0" style="margin-top:20px;">
          <div slot="title" class="memu-title" @click="handleMenu(4)">用户管理</div>
          <template v-if="memuList[4]">
            <cell title="成员管理" link="/login"></cell>
            <cell title="组织管理" link="/login"></cell>
            <cell title="角色管理" link="/login"></cell>
          </template>
        </group>
      </div>
      <view-box>
        <x-header :left-options="{showBack: false}" :title="title">
          <span slot="overwrite-left" @click="drawerVisibility = !drawerVisibility">
            <x-icon type="navicon" size="35" style="fill:#fff;position:relative;top:-8px;left:-3px;"></x-icon>
          </span>
        </x-header>
        <keep-alive>
          <router-view/>
        </keep-alive>
      </view-box>
    </drawer>
  </div>
</template>

<script>
import { XHeader, Drawer, ViewBox, Group, Cell } from 'vux'

export default {
  name: 'Home',
  components: {
    XHeader,
    Drawer,
    Group,
    Cell,
    ViewBox
  },
  data () {
    return {
      title: '日报编辑',
      drawerVisibility: false,
      memuList: [
        true,
        false,
        false,
        false,
        false
      ]
    }
  },
  methods: {
    handleMenu (index) {
      this.memuList.forEach((e, i, arr) => {
        if (i === index) {
          this.$set(this.memuList, i, !arr[index])
        } else {
          this.$set(this.memuList, i, false)
        }
      })
    }
  }
}
</script>

<style scoped>
.home {
  height: 100%;
}
.nav {
  margin-top: 4rem;
}
.nav-item {
  background-color: #26a2ff;
  color: #fff;
  height: 3.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.2rem;
}
.memu-title {
  margin-top: 0.77em;
  margin-bottom: 0.3em;
  padding-left: 15px;
  padding-right: 15px;
  color: #999999;
  font-size: 14px;
}
</style>

