<template>
  <div class="index">
    <router-link to="task/user" class="task item">
      <div class="circle">
        <i class="fa fa-flag" aria-hidden="true"></i>
      </div>
      <div class="title">
        新建任务
      </div>
    </router-link>
    <div class="item daily">
      <div class="circle">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
      </div>
      <div class="title">
        编辑日报
      </div>
    </div>
    <div class="item perf">
      <div class="circle">
        <i class="fa fa-list" aria-hidden="true"></i>
      </div>
      <div class="title">
        编辑绩效
      </div>
    </div>
    <div class="item user">
      <div class="circle">
        <i class="fa fa-flag" aria-hidden="true"></i>
      </div>
      <div class="title">
        新建任务
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'index',
  components: {
  }
}
</script>
<style scoped>
.index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  height: 10rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 2rem;
}
.task {
  background-image: url("../assets/bg-issue-sh.png");
}
.daily {
  background-image: url("../assets/bg-percy.png");
}
.perf {
  background-image: url("../assets/bg-styleci.png");
}
.user {
  background-image: url("../assets/bg-poeditor.png");
}
.circle {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  margin-right: 2rem;
}
.circle > i {
  font-size: 4rem;
  color: #fff;
}
.title {
  font-size: 2rem;
  color: #fff;
}
</style>

