<template>
  <div class="login">
    <div class="login-content">
      <img src="../assets/logoMenu.png" alt="logo">
      <div class="login-item">
        <group>
          <x-input title="用户名" name="username" placeholder="请输入用户名" v-model="username" required></x-input>
          <x-input title="密码" type="password" placeholder="请输入密码" v-model="password" :min="6" :max="16" required></x-input>
        </group>
        <x-button type="primary" large class="login-btn" @click.native="handleLogin">登录</x-button>
      </div>
    </div>
  </div>
</template>
<script>
import { XInput, XButton, Group } from 'vux'
import { mapActions } from 'vuex'
export default {
  components: {
    XInput,
    Group,
    XButton
  },
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    ...mapActions(['handleUserlogin']),
    handleLogin () {
      // this.$router.push('/')
      this.handleUserlogin({
        username: this.username,
        password: this.password
      })
      .then(() => {
        this.$router.push('/')
      })
    }
  }
}
</script>
<style scoped>
.login {
  height: 100%;
  background-image: url("../assets/login.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-content {
  width: 90%;
  height: 36rem;
  display: flex;
  flex-direction: column;
}
.login-item {
  margin-top: 4rem;
}
.login-btn {
  margin-top: 2rem;
}
</style>
