<template>
  <div class="task-user">
    <button-tab v-model="tabItem" class="tab">
      <button-tab-item @on-item-click="handelTab">搜索</button-tab-item>
      <button-tab-item @on-item-click="handelTab">任务列表</button-tab-item>
      <button-tab-item @on-item-click="handelTab">新建</button-tab-item>
    </button-tab>
    <div class="search" v-show="tabItem===0">
      <checklist title="任务类型" :options="search.typeList" v-model="search.type" :max="1"></checklist>
      <checklist title="任务状态" :options="search.statusList" v-model="search.status" :max="1"></checklist>
      <group title="开始时间">
        <datetime title="开始时间" v-model="search.startTime" format="YYYY-MM-DD"></datetime>
      </group>
      <group title="结束时间">
        <datetime title="结束时间" v-model="search.endTime" format="YYYY-MM-DD"></datetime>
      </group>
      <x-input title="关键字" type="text" v-model="search.key" placeholder="请输入搜索关键字"></x-input>
      <div class="seach-btn">
        <x-button type="primary">搜索</x-button>
      </div>
    </div>
    <Info class="info" v-if="tabItem===1"></Info>
    <div class="newItem" v-show="tabItem===2">

    </div>
  </div>
</template>
<script>
import { Group, Checklist, Datetime, XInput, ButtonTab, ButtonTabItem, XButton, XTable } from 'vux'
// function deepClone (params) {
//   return JSON.parse(JSON.stringify(params))
// }
import Info from './User/Info'
export default {
  name: 'taskUser',
  components: {
    Checklist,
    Datetime,
    XInput,
    ButtonTab,
    XButton,
    XTable,
    Group,
    ButtonTabItem,
    Info
  },
  data () {
    return {
      tabItem: 1,
      search: {
        type: [''],
        status: [''],
        typeList: ['指派我的', '我指派的'],
        statusList: ['未确认', '未开始', '执行中', '已结束', '已关闭'],
        startTime: '',
        endTime: '',
        key: '樊晓龙'
      }
    }
  },
  methods: {
    handelTab () {

    },
    handleDetail (i) {
      this.$set(this.info, i, this.info[i])
    }
  }
}
</script>

<style scoped>
.task-user {
  display: flex;
  flex-direction: column;
}
.tab {
  margin-top: 1rem;
}
.seach-btn {
  width: 90%;
  margin: 1rem auto;
}
.task-list {
  margin: 0 auto;
}

</style>
