<template>
  <div id="app">
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="less">
@import "~vux/src/styles/reset.less";
html,
body {
  font-size: 10px;
  overflow-x: hidden;
}
html,
body,
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
}
</style>
